body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.container {
    height: 100%;
    width: 100%;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.header {
    background-color: rgb(245, 245, 235);
    text-align: center;
}

.title {
    text-align: center;
}

.status {
    text-align: center;
    margin: 5px;
}

.square {   
    float: left;
    font-size: 25px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    border: 2px solid rgb(47, 85, 190);
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
}